@import url("https://fonts.googleapis.com/css?family=Poppins");

:root{
    --head-colour:#282C34;
    --bg-colour: #21252B;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0%;
    width: 100vw;
    background: var(--bg-colour);
    max-width: 100vw;
    overflow-x: hidden;
    align-items: center;
    font-family: "Poppins", sans-serif;
    display: flexbox;  
}

#top{
    text-align: center;
    top: 0;
    width: 100vw;
    font-size: 6vw;
    color: white;
    background: var(--head-colour);
    display: inline-block;
    align-items: center;
    justify-content: center;
}

#socials{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    position: relative;
}

.intro{
    font-size: 20px;
    text-align: center;
    max-width: 90vw;
}

nav{
    text-align: center;
    justify-content: center;
    width: 100%;
    position: sticky;
    top: 0px;
    font-size: 4vw;
    background-color: var(--head-colour);
}

nav a{
    top: 0;
    margin: 0px 20px;
    padding: 0px;
    font-size: 30px;
    color: #808080;
    transition: 0.5s;
    text-decoration: none;
}

#navbar nav a:hover, 
#navbar .active{
    text-decoration: none;
    color:white;
    transition: 0.5s;
    animation-timing-function: ease-out;
    letter-spacing: 1px;
    transform: scale(1.2)
}

.sticky{
    background: var(--head-colour);
    position: fixed;
    top:0;
    padding-bottom: 0px;
    justify-content: center;
    width: 100vw;
    animation-duration:0.5s;
}

.button{
    margin: 1rem;
    font-size: 30px;
    color: #808080;
    animation-timing-function: ease-out;
    transition-duration: 0.2s;
}

.button:hover{
    transform:scale(1.3);
    color: #fff;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: top;
    align-items: top;
    color: white
}

article{
    width: 90%;
    max-width: 600px;
    text-align: center;
    margin: auto;
}