@import url("https://fonts.googleapis.com/css?family=Poppins");

:root{
    --head-colour:#282C34;
    --bg-colour: #21252B;
    --navbar-height: 10vh;
    --num-of-links: 4;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0%;
    width: 100vw;
    background: var(--bg-colour);
    max-width: 100vw;
    overflow-x: hidden;
    align-items: center;
    font-family: "Poppins", sans-serif;
    display: flexbox;  
}

#top{
    text-align: center;
    top: 0;
    width: 100vw;
    font-size: 8vw;
    color: white;
    background: var(--head-colour);
    display: inline-block;
    align-items: center;
    justify-content: center;
}

#socials{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    position: relative;
}

img{
    border-radius: 50%;
}

.timeline-description{
    max-width: 80%;
    margin:auto;
    color: #989bbe;
}

.intro{
    display:table;
    align-items: center;
    justify-content: center;
    float: right;
    color: #989bbe;
}


a:link {
    color: orange;
    background-color: transparent;
    text-decoration: underline;
  }
  
a:visited {
color: orange;
background-color: transparent;
text-decoration: none;
}

a:hover {
color: red;
background-color: transparent;
text-decoration: underline;
}

a:active {
color: yellow;
background-color: transparent;
text-decoration: underline;
}

.head-intro{
    font-size: 20px;
    text-align: center;
}

.intro p{
    font-size: 20px;
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
    justify-content: center;
    text-align: center;
    float: left;
}

.selection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 4vh;
    height: var(--navbar-height);
    top: 0px;
    background-color: var(--head-colour);
    position: sticky;
    z-index: 1;
}
  
.selection a {
    top: 0;
    margin: 20px 20px;
    padding: 0px;
    color: rgba(255, 255, 255, 0.2);
    transition: 0.5s;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
}

.selection nav a:hover, 
.selection .active{
    text-decoration: none;
    color:white;
    transition: 0.5s;
    animation-timing-function: ease-out;
    letter-spacing: 1px;
    transform: scale(1.2);
}

.profile-picture{
    max-height: 40vh;
}

.sticky{
    background: var(--head-colour);
    position: fixed;
    top:0;
    padding-bottom: 0px;
    justify-content: center;
    height: var(--navbar-height);
    width: 100vw;
    animation-duration:0.5s;
}

.button{
    margin: 1rem;
    font-size: 30px;
    color: #808080;
    animation-timing-function: ease-out;
    transition-duration: 0.2s;
}

.button:hover{
    transform:scale(1.3);
    color: #fff;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

section{
    width: 100vw;
    justify-content: center;
    align-items: top;
    color: white;
    display: inline-block;
    text-align: center;
    padding-top: var(--navbar-height);
}

section:not(#about){
    width: 100vw;
    justify-content: center;
    align-items: top;
    color: white;
    display: inline-block;
    text-align: center;
}

section:not(#experience){
    padding-top: 70px;
}

article{
    top: 100px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
