@import url("https://fonts.googleapis.com/css?family=Poppins");

:root{
    --bg-colour:#282C34;
}

body {
    margin: 0%;
    padding: 0%;
    width: 100vw;
    background: var(--bg-colour);
    color: var(--text-color);
    max-width: 100vw;
    overflow-x: hidden;
    align-items: center;
    font-family: "Poppins", sans-serif;
  }

.name{
    height:30vh;
    font-size:5ch;
    color:white;
    font-family: "Poppins";
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials{
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    margin: 1rem;
    font-size: 30px;
    color: #fff;
}

.button:hover{
    transform:scale(1.3);
}
